fastapi[standard]
openai>=1.0.0
python-dotenv>=1.0.0
pinecone
langchain
langchain-openai
langchain-text-splitters
langchain-community
streamlit
pypdf
python-dotenv
ragas
psycopg
google-adk>=1.0.0
google-genai>=1.0.0
python-dotenv>=1.0.0

langgraph
langchain-core
langchain-google-genai
pytest